<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog</title>
	</head>
	<body>
		<a href="post-1.html">Post 1</a>
		<div class="slider blog__gallery" id="slider1">
			<div class="slider__container">
				<div class="slider__slide">
					<img
						class="slider__slide__image blog__gallery__image"
						loading="lazy"
						alt=""
						src="https://images.unsplash.com/photo-1621569899609-e6ca91a72f97?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDIyNjB8MXwxfGFsbHwxfHx8fHx8Mnx8MTYyNDY1ODgyNw&ixlib=rb-1.2.1&q=80&w=400&fit=max"
					/>
				</div>
				<div class="slider__slide">
					<img
						class="slider__slide__image blog__gallery__image"
						src="https://images.unsplash.com/photo-1621569899609-e6ca91a72f97?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDIyNjB8MXwxfGFsbHwxfHx8fHx8Mnx8MTYyNDY1ODgyNw&ixlib=rb-1.2.1&q=80&w=400&fit=max"
						loading="lazy"
						alt=""
					/>
				</div>
				<div class="slider__slide">
					<img
						class="slider__slide__image blog__gallery__image"
						src="https://images.unsplash.com/photo-1621569899609-e6ca91a72f97?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDIyNjB8MXwxfGFsbHwxfHx8fHx8Mnx8MTYyNDY1ODgyNw&ixlib=rb-1.2.1&q=80&w=400&fit=max"
						loading="lazy"
						alt=""
					/>
				</div>
			</div>
		</div>
		<button id="more-images-btn">get more images</button>
	</body>
</html>
