<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header class="container header">
			<h1 class="h3">PHOTO GALLERY BLOG</h1>
		</header>
		<div class="container topbar">
			<a href="best-photos.html" class="topbar__link">
				📷 Check out my latest photos! 📷
			</a>
		</div>
		<div class="main-column__layout section">
			<main class="container">
				<article>
					<h2 class="h1 section-title">Best photo galleries</h2>
					<div class="blog__gallery__wrapper">
						<div class="slider blog__gallery" id="slider1">
							<div class="slider__container">
								<div class="slider__slide">
									<img
										class="slider__slide__image blog__gallery__image"
										loading="lazy"
										alt=""
										src="https://images.unsplash.com/photo-1623854968885-58a8e614c478?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDIyNjB8MHwxfGFsbHwyMjA5fHx8fHx8Mnx8MTYyNDczMDM5NQ&ixlib=rb-1.2.1&q=80&w=400"
									/>
								</div>
								<div class="slider__slide">
									<img
										class="slider__slide__image blog__gallery__image"
										src="https://images.unsplash.com/photo-1623855526629-73cc3206c47a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDIyNjB8MHwxfGFsbHwyMjEwfHx8fHx8Mnx8MTYyNDczMDM5NQ&ixlib=rb-1.2.1&q=80&w=400"
										loading="lazy"
										alt=""
									/>
								</div>
							</div>
						</div>

						<button class="blog__gallery__button" id="more-images-btn">
							Fetch more photos!
						</button>
					</div>
					<div class="text-section">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non
							mauris purus. Proin hendrerit convallis nunc. Donec a est odio.
							Maecenas in tincidunt justo. Phasellus vitae ex at arcu hendrerit
							aliquet. Aenean facilisis maximus feugiat. Suspendisse mattis
							dictum lacus et pellentesque. Curabitur cursus nec nulla quis
							tristique. t et felis et consectetur. Vivamus nec velit
						</p>

						<p>
							Sed tempor hendrerit ante, ut pellentesque lectus porta eget.
							Maecenas consequat et felis et consectetur. Vivamus nec velit
							ultrices, eleifend risus ac, auctor tortor. Pellentesque id mi
						</p>

						<p>
							Sed tempor hendrerit ante, ut pellentesque lectus porta eget.
							Maecenas consequat et felis et consectetur. Vivamus nec velit
							ultrices, eleifend risus ac, auctor tortor. Pellentesque id mi
							sodales, maxim. Quisque consectetur, felis sit amet tincidunt
							sollicitudin, massa elit mattis dolor, non volutpat nunc arcu sed
							orci. Orci varius natoque penatibus et magnis dis parturient
							montes, nascetur ridiculus mus. Duis ac fringilla lectus.
						</p>
						<p>
							Curabitur maximus id diam quis luctus. Vivamus ac iaculis nisl, in
							aliquet nunc. Pellentesque a ligula at orci auctor sodales. Donec
							ligula nunc, scelerisque quis rhoncus nec, aliquam ut nibh. Nunc
							lectus orci, gravida et velit in, ultrices molestie mauris.
							Maecenas nunc tortor, ullamcorper sit amet risus et, rhoncus
							maximus nunc. Sed rhoncus quam elit, nec facilisis nulla gravida
							a. Nam consectetur feugiat metus non blandit. Maecenas at egestas
							mauris, at hendrerit diam. Mauris tristique quis nunc nec finibus.
							Duis nunc nisi, sodales eu ex vel, dictum interdum elit. Duis a
							pulvinar ex, eget placerat magna. Praesent vitae dignissim dolor,
							quis malesuada risus. Integer sit amet sodales est, sed fringilla
							purus. Mauris facilisis eros et ligula varius, sit amet eleifend
							nunc varius. Fusce et erat ac neque viverra lacinia. Etiam
							suscipit rhoncus laoreet. Nullam auctor porttitor aliquet.
						</p>
					</div>
				</article>
			</main>
			<aside class="container sidebar">
				<h3 class="h3 text-semibold section-title">My other posts</h3>
				<nav class="nav">
					<a href="post-1.html" class="h4 nav__item">Camera tricks</a>
					<a href="index.html" class="h4 nav__item"
						>The best photos for this 2021</a
					>
					<a href="post-3.html" class="h4 nav__item"
						>Using photoshop - The practical guide</a
					>
					<a href="post-4.html" class="h4 nav__item">The best lens 2021</a>
					<a href="post-5.html" class="h4 nav__item"
						>Effect techniques for portrait</a
					>
				</nav>
			</aside>
		</div>
		<footer class="footer">
			<strong>© 2021 &#8213; Pedro La Rosa</strong>
		</footer>
	</body>
</html>
