html,
body {
	background: var(--background-color);
	color: var(--on-background-color);
	font-family: "Poppins", sans-serif;
	font-size: var(--base-size);
	height: 100%;
	margin: 0;
	text-size-adjust: 100%;
}
