.topbar {
	background-color: var(--primary-color);
	font-weight: 600;
	margin-bottom: 30px;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}

.topbar .topbar__link {
	color: var(--on-primary-color);
	display: block;
	text-decoration: none;
}
